<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="mother-grid-inner">
            <!--header start here-->
            <app-header-nav></app-header-nav>
            <!--heder end here-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="[ '/dashboard' ]">Home</a> <i
                        class="fa fa-angle-right"></i>Settings</li>
            </ol>
            <!--grid-->
            <div class="validation-system">

                <div class="validation-form">
                    <!---->

                    <div class="asked">
                        <div class="questions">
                            <h3>Change Username :</h3>
                            <form>
                                <div class="vali-form">
                                    <div class="col-md-6 form-group1 form-last">
                                        <label class="control-label">Username</label>
                                        <input type="text" placeholder="Username" required="" name="username" [(ngModel)]="username">
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-primary" (click)="changeUsername()">Submit</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </div>
                                <div class="clearfix"> </div>
                            </form>
                        </div>
                    </div>

                    <div class="asked">
                        <div class="questions">
                            <h3>Change Password :</h3>
                        </div>
                        <form>
                            <div class="vali-form">
                                <div class="col-md-6 form-group1">
                                    <label class="control-label">Create a password</label>
                                    <input type="password" placeholder="Create a password" required="" name="password" [(ngModel)]="password">
                                </div>
                                <div class="col-md-6 form-group1 form-last">
                                    <label class="control-label">Repeated password</label>
                                    <input type="password" placeholder="Repeated password" required="" name="password1" [(ngModel)]="password1">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" class="btn btn-primary" (click)="changePassword()">Submit</button>
                                <button type="reset" class="btn btn-default">Reset</button>
                            </div>
                            <div class="clearfix"> </div>
                        </form>
                    </div>

                    <!---->
                </div>

            </div>
            <!--//grid-->
            <!--inner block start here-->
            <div class="inner-block">

            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <app-footer></app-footer>
            <!--COPY rights end here-->
        </div>
    </div>
    <!--//content-inner-->
    <!--/sidebar-menu-->
    <app-sidemenu></app-sidemenu>
    <div class="clearfix"></div>
</div>