.w3-teal {
  background-color: #1668af !important;
}

h3 {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1rem;
}

.field-required:after {
  content: "*";
  color: #c54040;
}

.w3-button {
  font-family: 'Comfortaa', sans-serif !important;
}

.fa-plus {
  font-size: 2rem !important;
  border-right: 1px solid #dee2e6;
}

/* .fa-check-circle {
    color: #6dab25;
  } */

.fa-user-o {
  font-size: 1.5rem !important;
}

.user {
  cursor: pointer;
  color: #1668af;
}

.action-view {
  cursor: pointer;
}

.action-view:hover {
  color: white;
  background-color: #1668af;
}

.update-btn {
  color: white !important;
  background-color: #6dab25 !important;
}

.update-btn:hover {
  color: white !important;
  background-color: #92b669 !important;
}

.close-btn {
  color: white !important;
  background-color: #c54040 !important;
}

.close-btn:hover {
  color: white !important;
  background-color: #ca6464 !important;
}

.inactive {
  color: #c54040 !important
}

.block {
  background-color: #ad6b6b;
}

.unblock {
  background-color: #88a06e;
}

.header-data {
  position: sticky;
}

.scroll-data {
  overflow: scroll;
}

/* .success {
    text-align: center;
    color: #6dab25;
    border: 1px solid #6dab25;
    border-radius: 10px;
  }
  
  .danger {
    text-align: center;
    color: #c54040;
    border: 1px solid #c54040;
    border-radius: 20px;
  } */

a {
  cursor: pointer;
}

.name {
  /* font-size: 1.5rem; */
  margin-left: 13px;
}

.desig {
  margin-left: 10px;
}
