<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="mother-grid-inner">
            <!--header start here-->
            <app-header-nav></app-header-nav>
            <!--heder end here-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="[ '/dashboard' ]">Home</a> <i
                        class="fa fa-angle-right"></i>Projects</li>
            </ol>
            <div class="agile3-grids asked">
                <!-- grids -->
                <div class="grids questions">
                    <h3>ACADEMIC PROJECT LIST : <span class="float-right"><button type="submit" class="btn btn-primary"
                                (click)="addProject()">
                                <i class="fa fa-plus"></i> ADD PROJECT</button></span></h3>
                    <br>
                    <ul *ngFor="let item of academic">
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>{{ item.project_title }}</h2>
                            <p>{{ item.description }}</p>
                        </li>
                    </ul>
                </div>

                <div class="grids questions">
                    <h3>COMPANY PROJECT LIST : <span class="float-right"><button type="submit" class="btn btn-primary"
                                (click)="addProject()">
                                <i class="fa fa-plus"></i> ADD PROJECT</button></span></h3>
                    <br>
                    <ul *ngFor="let item of company">
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>{{ item.project_title }}</h2>
                            <p>{{ item.description }}</p>
                        </li>
                    </ul>
                </div>
                <!-- //grids -->
            </div>
            <!--inner block start here-->
            <div class="inner-block">

            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <app-footer></app-footer>
            <!--COPY rights end here-->
        </div>
    </div>
    <!--//content-inner-->
    <!--/sidebar-menu-->
    <app-sidemenu></app-sidemenu>
    <div class="clearfix"></div>
</div>